* {
  padding: 0;
  margin: 0;
}

html {
  background-color: rgba(72, 209, 204, 0.7);
  font-size: 16px; /* 1rem指定 */
  font-family: 'Original Surfer', cursive, sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 4rem;
  display: flex;
  flex-direction: row;
}

header ul {
  display: flex;
  line-height: 4rem;
  list-style: none;
  margin-left: auto;
}

header li {
  padding-right: 30px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

header li a {
  color: black;
  text-decoration: none;
}

.opacity {
  opacity: 1;
  pointer-events: auto;
} 

main {
  margin-top: 4rem;
  width: 100%;
}

.menus {
  width: 4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu {
  display: block;
  height: 0.8rem;
  width: 2rem;
  border-bottom: 3px solid black;
  transition: transform 0.5s;
}

.stick1 {
  width: 3rem;
  transform-origin: center;
  transform: translateX(-4px) translateY(26px) rotate(225deg);
  transition-duration: 1s;
}
.stick2 {
  transform: scaleX(0);
  transition-delay: 0.2s;
}
.stick3 {
  width: 3rem;
  transform: translateX(-5px) translateY(-15px) rotate(-45deg);
  transition-delay: 0.1s;
  transition-duration: 0.7s;
}

section:first-child {
  text-align: center;
  height: 100vh;
  position: relative;
}

.top {
  position: absolute;
  top: 30%;
  left: 20%;
}

.top h1 {
  font-size: 40px;
  letter-spacing: 0.3em;
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.circle{
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  opacity: 0.7;
  box-shadow: 4px 4px 10px rgba(176, 196, 222, 0.8);
  animation: move;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: background-color 0.5s;
}

@keyframes move {
  0%, 100%{
    transform: translateX(0) translateY(0) scale(0.9);
  }
  20% {
    transform: translateX(10px) translateY(10px) ;
    opacity: 0.8;
  }
  40% {
    transform: translateX(15px) translateY(3px);
  }
  60% {
    transform: translateX(8px) translateY(-5px) scale(0.95);
  }
  80% {
    transform: translateX(5px) translateY(-10px);
  }
}

.display {
  background-color: yellowgreen;
}

.circle1 {
  width: 250px;
  height: 250px;
  top: 15%;
  left: 70%;
  animation-delay: -0.7s;
  animation-direction: reverse;
}

.circle2 {
  width: 150px;
  height: 150px;
  top: 60%;
  left: 50%;
  animation-delay: -1.4s;
}

.circle3 {
  width: 75px;
  height: 75px;
  top: 15%;
  left: 10%;
  animation-delay: -2.2s;
  animation-direction: reverse;
}

.circle4 {
  width: 30px;
  height: 30px;
  top: 70%;
  left: 20%;
  animation-delay: -2.8s;
}

.circle5 {
  width: 20px;
  height: 20px;
  top: 40%;
  left: 40%;
  animation-delay: -2.5s;
}

.circle6 {
  width: 100px;
  height: 100px;
  top: 20%;
  left: 45%;
}

.circle7 {
  width: 100px;
  height: 100px;
  top: -5%;
  left: 65%;
}

.circle8 {
  width: 100px;
  height: 100px;
  top: 200%;
  left: 30%;
}

.circle9 {
  width: 100px;
  height: 100px;
  top: 330%;
  left: 70%;
}

.circle10 {
  width: 100px;
  height: 100px;
  top: 340%;
  left: 20%;
}

section:nth-child(2) {
  /* background-color: silver; */
  height: 600px;
  padding-top: 50px;
}

.box > h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 60px;
  padding-bottom: 80px;
  letter-spacing: 0.3em;
}

.box {
  box-shadow: 4px 4px 10px rgba(176, 196, 222, 0.8);
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 960px;
  margin: 0 auto;
  border-radius: 100px;
  padding-bottom: 30px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.flex-item {
  width: 40%;
}

.main-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

dl {
  display: flex;
  flex-wrap: wrap;
  line-height: 2;
}


dt {
  width: 30%;
}

dd {
  width: 70%;
}

section:nth-child(3) {
  /* background-color: darkseagreen; */
  padding-top: 150px;
  height: 800px;
}

.text {
  line-height: 2;
}

.lang {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lang img {
  display: inline-block;
  width: 40%;
  height: 50%;
}
